name: Deployment-workflow
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: setup node Js and python
        uses: ./.github/actions/cached-deps
        with:
          python-version: 3.11
          node-version: 18.18.1
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: setup node Js and python
        uses: ./.github/actions/cached-deps
      - name: install dependencies
        run: npm ci
      - name: Test code
        id: run-tests
        run: npm run test
      