name: environments-workflow
on: workflow_dispatch
jobs:
  DEV:
    runs-on: ubuntu-latest
    steps:
      - name: development
        run: echo "this is dev"
  STAGE:
    runs-on: ubuntu-latest
    needs: DEV
    steps:
      - name: stage
        run: echo" this is stage"
  PROD:
    runs-on: ubuntu-latest
    needs: STAGE
    steps:
      - name: prod
        run: echo " this is prod"