name: main workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: node Js 
      uses: ./.github/workflows/calling-workflow.yml